<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if_eq Auth true}}
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
            {{/if_eq}}
            {{#if_eq Auth false}}
            <li class="nav-item active">
                <a class="nav-link" href="/messages">Messages</a>
            </li>
            {{/if_eq}}
        </ul>
        <span class="navbar-text">
            <a class="nav-link" href="/users/logout">Logout</a>
        </span>
    </div>
</nav>