<h1>{{title}}</h1>

{{!-- {{toJSON users}} --}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Device ID</th>
        </tr>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>
                <a href="/users/{{id}}">
                    {{email}}
                </a>
            </td>
            <td>
                {{#devices}}
                {{id}}
                {{/devices}}
            </td>
        </tr>
        {{/users}}
    </tbody>
</table>