<h1>{{title}}</h1>
{{!-- {{toJSON users}} --}}
{{#users}}
Email: {{email}}
{{/users}}

{{!-- <ul class="list-group">
    {{#users}}
    {{#devices}}
    {{#deviceMessage}}
    <li class="list-group-item">{{messages}}</li>
    {{/deviceMessage}}
    {{/devices}}
    {{/users}}
</ul> --}}
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Messages</th>
            <th>Status</th>
            <th>Contact</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#users}}
        {{#devices}}
        {{#deviceMessage}}
        <tr>
            <td>
                {{messages}}
            </td>
            <td>
                {{!-- {{status}} --}}
                {{#if_eq status "sent"}}
                <span class="badge badge-pill badge-success">Success</span>
                {{else}}
                <span class="badge badge-pill badge-secondary">Pending</span>
                {{/if_eq}}
            </td>
            <td>
                {{phone_number}}
            </td>
            <td>
                {{formatDate createdAt "llll"}}
            </td>
        </tr>
        {{/deviceMessage}}
        {{/devices}}
        {{/users}}
    </tbody>
</table>